
%td.text-right= card.carrying
%td.text-right= card.speed
%td.text-right= card.acceleration
%td.text-right= card.elusiveness
%td.text-right= card.stamina
%td.text-right= card.juke_move
%td.text-right= card.spin_move
%td.text-right= card.stiff_arm
%td.text-right= card.trucking
%td.text-right= card.ball_carrier_vision
