%td.text-center= card.catching
%td.text-center= card.catch_in_traffic
%td.text-center= card.route_running
%td.text-center= card.spectacular_catch
%td.text-center= card.carrying
%td.text-center= card.awareness
%td.text-center= card.speed
%td.text-center= card.acceleration
%td.text-center= card.elusiveness
%td.text-center= card.jumping
