%td= card.catching
%td= card.catch_in_traffic
%td= card.route_running
%td= card.spectacular_catch
%td= card.carrying
%td= card.awareness
%td= card.speed
%td= card.acceleration
%td= card.elusiveness
%td= card.jumping
