%td.text-center{ class: rating_class(card.speed) }= card.speed
%td.text-center{ class: rating_class(card.acceleration) }= card.acceleration
%td.text-center{ class: rating_class(card.elusiveness) }= card.elusiveness
%td.text-center{ class: rating_class(card.agility) }= card.agility
%td.text-center{ class: rating_class(card.carrying) }= card.carrying
%td.text-center{ class: rating_class(card.stamina) }= card.stamina
%td.text-center{ class: rating_class(card.juke_move) }= card.juke_move
%td.text-center{ class: rating_class(card.spin_move) }= card.spin_move
%td.text-center{ class: rating_class(card.ball_carrier_vision) }= card.ball_carrier_vision
