%td.text-center= card.speed
%td.text-center= card.acceleration
%td.text-center= card.elusiveness
%td.text-center= card.agility
%td.text-center= card.carrying
%td.text-center= card.stamina
%td.text-center= card.juke_move
%td.text-center= card.spin_move
%td.text-center= card.ball_carrier_vision
