%td.text-right= card.strength
%td.text-right= card.block_shedding
%td.text-right= card.tackle
%td.text-right= card.pursuit
%td.text-right= card.power_moves
%td.text-right= card.finesse_moves
%td.text-right= card.hit_power
%td.text-right= card.play_recognition
%td.text-right= card.speed
%td.text-right= card.acceleration
