%td= card.strength
%td= card.block_shedding
%td= card.tackle
%td= card.pursuit
%td= card.power_moves
%td= card.finesse_moves
%td= card.hit_power
%td= card.play_recognition
%td= card.speed
%td= card.acceleration
