%td= card.play_recognition
%td= card.zone_coverage
%td= inches_to_feet_and_inches card.height_in_inches
%td= card.speed
%td= card.acceleration
%td= card.catching
%td= card.jumping
%td= card.hit_power
%td= card.tackle
%td= card.awareness
