%td= inches_to_feet_and_inches card.height_in_inches
%td= card.zone_coverage
%td= card.man_coverage
%td= card.catching
%td= card.catch_in_traffic
%td= card.speed
%td= card.acceleration
%td= card.jumping
%td= card.play_recognition
%td= card.awareness
