%td= card.tackle
%td= card.pursuit
%td= card.hit_power
%td= card.block_shedding
%td= card.speed
%td= card.acceleration
%td= card.awareness
%td= card.play_recognition
%td= card.strength
%td= card.zone_coverage
