= stat_table_header :speed
= stat_table_header :acceleration
= stat_table_header :finesse_moves
= stat_table_header :power_moves
= stat_table_header :block_shedding
= stat_table_header :tackle
= stat_table_header :pursuit
= stat_table_header :strength
= stat_table_header :play_recognition
= stat_table_header :hit_power
