= stat_table_header :carrying
= stat_table_header :speed
= stat_table_header :acceleration
= stat_table_header :elusiveness
= stat_table_header :stamina
= stat_table_header :juke_move
= stat_table_header :spin_move
= stat_table_header :stiff_arm
= stat_table_header :trucking
= stat_table_header :ball_carrier_vision
