= stat_table_header :catching
= stat_table_header :catch_in_traffic
= stat_table_header :route_running
= stat_table_header :spectacular_catch
= stat_table_header :carrying
= stat_table_header :awareness
= stat_table_header :speed
= stat_table_header :acceleration
= stat_table_header :elusiveness
= stat_table_header :jumping
