%td.text-center= card.run_block
%td.text-center= card.impact_blocking
%td.text-center= card.awareness
%td.text-center= card.stamina
%td.text-center= card.strength
%td.text-center= card.speed
%td.text-center= card.acceleration
%td.text-center= card.agility
%td.text-center= card.pass_block
