%td= card.run_block
%td= card.impact_blocking
%td= card.strength
%td= card.carrying
%td= card.trucking
%td= card.stiff_arm
%td= card.speed
%td= card.acceleration
%td= card.awareness
%td= card.catching
