%td= card.speed
%td= card.acceleration
%td= card.catching
%td= card.catch_in_traffic
%td= card.spectacular_catch
%td= card.route_running
%td= card.release
%td= card.run_block
%td= card.strength
%td= card.carrying
