%div.container-fluid
  %h2 Positions
  %div.row
    %div.col
      %h3 HalfBack
      %ul.list-unstyled
        %li= link_to 'Every Down', players_path(position: PlayerCard::HALFBACK, style: 'every_down')
        %li= link_to 'Speed',      players_path(position: PlayerCard::HALFBACK, style: 'speed')
        %li= link_to 'Power',      players_path(position: PlayerCard::HALFBACK, style: 'power')
        %li= link_to 'Receiving',  players_path(position: PlayerCard::HALFBACK, style: 'receiving')

      %h3 Wide Receiver
      %ul.list-unstyled
        %li= link_to 'Complete',      players_path(position: PlayerCard::WIDE_RECEIVER, style: 'complete')
        %li= link_to 'Pure',          players_path(position: PlayerCard::WIDE_RECEIVER, style: 'pure')
        %li= link_to 'Face Catching', players_path(position: PlayerCard::WIDE_RECEIVER, style: 'face_catching')
        %li= link_to 'Blocking',      players_path(position: PlayerCard::WIDE_RECEIVER, style: 'blocking')

      %h3 Quarterback
      %ul.list-unstyled
        %li= link_to 'Dual Threat',   players_path(position: PlayerCard::QUARTERBACK, style: 'dual_threat')
        %li= link_to 'Pocket Passer', players_path(position: PlayerCard::QUARTERBACK, style: 'pocket_passer')
        %li= link_to 'Mobile',        players_path(position: PlayerCard::QUARTERBACK, style: 'mobile')

      %h3 Tight End
      %ul.list-unstyled
        %li= link_to 'Receiving',     players_path(position: PlayerCard::TIGHT_END, style: 'receiving')
        %li= link_to 'Blocking',      players_path(position: PlayerCard::TIGHT_END, style: 'blocking')
        %li= link_to 'Face Catching', players_path(position: PlayerCard::TIGHT_END, style: 'face_catching')

      %h3 Left Tackle
      %ul.list-unstyled
        %li= link_to 'Balanced',      players_path(position: PlayerCard::LEFT_TACKLE, style: 'balanced')
        %li= link_to 'Run Blocking',  players_path(position: PlayerCard::LEFT_TACKLE, style: 'run_blocking')
        %li= link_to 'Pass Blocking', players_path(position: PlayerCard::LEFT_TACKLE, style: 'pass_blocking')

      %h3 Left Guard
      %ul.list-unstyled
        %li= link_to 'Balanced',      players_path(position: PlayerCard::LEFT_GUARD, style: 'balanced')
        %li= link_to 'Run Blocking',  players_path(position: PlayerCard::LEFT_GUARD, style: 'run_blocking')
        %li= link_to 'Pass Blocking', players_path(position: PlayerCard::LEFT_GUARD, style: 'pass_blocking')

      %h3 Center
      %ul.list-unstyled
        %li= link_to 'Balanced',      players_path(position: PlayerCard::CENTER, style: 'balanced')
        %li= link_to 'Run Blocking',  players_path(position: PlayerCard::CENTER, style: 'run_blocking')
        %li= link_to 'Pass Blocking', players_path(position: PlayerCard::CENTER, style: 'pass_blocking')

      %h3 Right Guard
      %ul.list-unstyled
        %li= link_to 'Balanced',      players_path(position: PlayerCard::RIGHT_GUARD, style: 'balanced')
        %li= link_to 'Run Blocking',  players_path(position: PlayerCard::RIGHT_GUARD, style: 'run_blocking')
        %li= link_to 'Pass Blocking', players_path(position: PlayerCard::RIGHT_GUARD, style: 'pass_blocking')

      %h3 Right Tackle
      %ul.list-unstyled
        %li= link_to 'Balanced',      players_path(position: PlayerCard::RIGHT_TACKLE, style: 'balanced')
        %li= link_to 'Run Blocking',  players_path(position: PlayerCard::RIGHT_TACKLE, style: 'run_blocking')
        %li= link_to 'Pass Blocking', players_path(position: PlayerCard::RIGHT_TACKLE, style: 'pass_blocking')

      %h3 Fullback
      %ul.list-unstyled
        %li= link_to 'Balanced',  players_path(position: PlayerCard::FULLBACK, style: 'balanced')
        %li= link_to 'Rushing',   players_path(position: PlayerCard::FULLBACK, style: 'rushing')
        %li= link_to 'Receiving', players_path(position: PlayerCard::FULLBACK, style: 'receiving')
        %li= link_to 'Blocking',  players_path(position: PlayerCard::FULLBACK, style: 'blocking')

    %div.col
      %h3 Free Safety
      %ul.list-unstyled
        %li= link_to 'Balanced',     players_path(position: PlayerCard::FREE_SAFETY, style: 'balanced')
        %li= link_to 'Coverage',     players_path(position: PlayerCard::FREE_SAFETY, style: 'Coverage')
        %li= link_to 'Run Stuffing', players_path(position: PlayerCard::FREE_SAFETY, style: 'run_stuffing')
        %li= link_to 'User',         players_path(position: PlayerCard::FREE_SAFETY, style: 'user')

      %h3 Strong Safety
      %ul.list-unstyled
        %li= link_to 'Balanced',     players_path(position: PlayerCard::STRONG_SAFETY, style: 'balanced')
        %li= link_to 'Coverage',     players_path(position: PlayerCard::STRONG_SAFETY, style: 'coverage')
        %li= link_to 'Run Stuffing', players_path(position: PlayerCard::STRONG_SAFETY, style: 'run_stuffing')
        %li= link_to 'User',         players_path(position: PlayerCard::STRONG_SAFETY, style: 'user')

      %h3 Right Outside Linebacker
      %ul.list-unstyled
        %li= link_to '4-3',          players_path(position: PlayerCard::RIGHT_OUTSIDE_LINEBACKER, style: '43')
        %li= link_to '3-4',          players_path(position: PlayerCard::RIGHT_OUTSIDE_LINEBACKER, style: '34')
        %li= link_to 'Balanced',     players_path(position: PlayerCard::RIGHT_OUTSIDE_LINEBACKER, style: 'balanced')
        %li= link_to 'Coverage',     players_path(position: PlayerCard::RIGHT_OUTSIDE_LINEBACKER, style: 'coverage')
        %li= link_to 'Pass Rush',    players_path(position: PlayerCard::RIGHT_OUTSIDE_LINEBACKER, style: 'pass_rush')
        %li= link_to 'Run Stuffing', players_path(position: PlayerCard::RIGHT_OUTSIDE_LINEBACKER, style: 'run_stuffing')
        %li= link_to 'User',         players_path(position: PlayerCard::RIGHT_OUTSIDE_LINEBACKER, style: 'user')

      %h3 Middle Linebacker
      %ul.list-unstyled
        %li= link_to 'Balanced',     players_path(position: PlayerCard::MIDDLE_LINEBACKER, style: 'balanced')
        %li= link_to 'Coverage',     players_path(position: PlayerCard::MIDDLE_LINEBACKER, style: 'coverage')
        %li= link_to 'Run Stuffing', players_path(position: PlayerCard::MIDDLE_LINEBACKER, style: 'run_stuffing')
        %li= link_to 'Pass Rush',    players_path(position: PlayerCard::MIDDLE_LINEBACKER, style: 'pass_rush')
        %li= link_to 'User',         players_path(position: PlayerCard::MIDDLE_LINEBACKER, style: 'user')

      %h3 Left Outside Linebacker
      %ul.list-unstyled
        %li= link_to '4-3',          players_path(position: PlayerCard::LEFT_OUTSIDE_LINEBACKER, style: '43')
        %li= link_to '3-4',          players_path(position: PlayerCard::LEFT_OUTSIDE_LINEBACKER, style: '34')
        %li= link_to 'Balanced',     players_path(position: PlayerCard::LEFT_OUTSIDE_LINEBACKER, style: 'balanced')
        %li= link_to 'Coverage',     players_path(position: PlayerCard::LEFT_OUTSIDE_LINEBACKER, style: 'coverage')
        %li= link_to 'Pass Rush',    players_path(position: PlayerCard::LEFT_OUTSIDE_LINEBACKER, style: 'pass_rush')
        %li= link_to 'Run Stuffing', players_path(position: PlayerCard::LEFT_OUTSIDE_LINEBACKER, style: 'run_stuffing')
        %li= link_to 'User',         players_path(position: PlayerCard::LEFT_OUTSIDE_LINEBACKER, style: 'user')

      %h3 Left End
      %ul.list-unstyled
        %li= link_to '4-3', players_path(position: PlayerCard::LEFT_END, style: '43')
        %li= link_to '3-4', players_path(position: PlayerCard::LEFT_END, style: '34')

      %h3 Right End
      %ul.list-unstyled
        %li= link_to '4-3', players_path(position: PlayerCard::RIGHT_END, style: '43')
        %li= link_to '3-4', players_path(position: PlayerCard::RIGHT_END, style: '34')

      %h3 Defensive Tackle
      %ul.list-unstyled
        %li= link_to '4-3', players_path(position: PlayerCard::DEFENSIVE_TACKLE, style: '43')
        %li= link_to '3-4', players_path(position: PlayerCard::DEFENSIVE_TACKLE, style: '34')

      %h3 Cornerback
      %ul.list-unstyled
        %li= link_to 'Shut Down',                players_path(position: PlayerCard::CORNERBACK, style: 'shut_down')
        %li= link_to 'Zone',                     players_path(position: PlayerCard::CORNERBACK, style: 'zone')
        %li= link_to 'Man',                      players_path(position: PlayerCard::CORNERBACK, style: 'man')
        %li= link_to 'You Shall Not Face Catch', players_path(position: PlayerCard::CORNERBACK, style: 'you_shall_not_face_catch')
        %li= link_to 'Run Stuffing',             players_path(position: PlayerCard::CORNERBACK, style: 'run_stuffing')
        %li= link_to 'Nickel',                   players_path(position: PlayerCard::CORNERBACK, style: 'nickel')
