%td.text-center{ class: rating_class(card.pass_block) }= card.pass_block
%td.text-center{ class: rating_class(card.pass_block) }= card.run_block
%td.text-center{ class: rating_class(card.pass_block) }= card.impact_blocking
%td.text-center{ class: rating_class(card.pass_block) }= card.strength
%td.text-center{ class: rating_class(card.pass_block) }= card.awareness
%td.text-center{ class: rating_class(card.pass_block) }= card.stamina
%td.text-center{ class: rating_class(card.pass_block) }= card.speed
%td.text-center{ class: rating_class(card.pass_block) }= card.acceleration
