%td.text-right= card.run_block
%td.text-right= card.impact_blocking
%td.text-right= card.awareness
%td.text-right= card.stamina
%td.text-right= card.strength
%td.text-right= card.speed
%td.text-right= card.acceleration
%td.text-right= card.agility
%td.text-right= card.pass_block
