= stat_table_header :pass_block
= stat_table_header :run_block
= stat_table_header :impact_blocking
= stat_table_header :strength
= stat_table_header :awareness
= stat_table_header :stamina
= stat_table_header :speed
= stat_table_header :acceleration
