%td.text-center{ class: rating_class(card.strength) }= card.strength
%td.text-center{ class: rating_class(card.block_shedding) }= card.block_shedding
%td.text-center{ class: rating_class(card.tackle) }= card.tackle
%td.text-center{ class: rating_class(card.pursuit) }= card.pursuit
%td.text-center{ class: rating_class(card.power_moves) }= card.power_moves
%td.text-center{ class: rating_class(card.finesse_moves) }= card.finesse_moves
%td.text-center{ class: rating_class(card.hit_power) }= card.hit_power
%td.text-center{ class: rating_class(card.play_recognition) }= card.play_recognition
%td.text-center{ class: rating_class(card.speed) }= card.speed
%td.text-center{ class: rating_class(card.acceleration) }= card.acceleration
