= stat_table_header :throw_accuracy_short, th_class: 'th-lg'
= stat_table_header :throw_accuracy_mid, th_class: 'th-lg'
= stat_table_header :throw_accuracy_deep, th_class: 'th-lg'
= stat_table_header :throw_power
= stat_table_header :play_action
= stat_table_header :strength
= stat_table_header :throw_on_the_run, th_class: 'th-lg'
= stat_table_header :speed
= stat_table_header :acceleration
