%td.text-center{ class: rating_class(card.run_block) }= card.run_block
%td.text-center{ class: rating_class(card.impact_blocking) }= card.impact_blocking
%td.text-center{ class: rating_class(card.strength) }= card.strength
%td.text-center{ class: rating_class(card.awareness) }= card.awareness
%td.text-center{ class: rating_class(card.catching) }= card.catching
%td.text-center{ class: rating_class(card.catch_in_traffic) }= card.catch_in_traffic
%td.text-center{ class: rating_class(card.spectacular_catch) }= card.spectacular_catch
%td.text-center{ class: rating_class(card.speed) }= card.speed
%td.text-center{ class: rating_class(card.acceleration) }= card.acceleration
