%td= card.catching
%td= card.catch_in_traffic
%td= card.spectacular_catch
%td= card.awareness
%td= card.release
%td= card.route_running
%td= card.jumping
%td= card.speed
%td= card.acceleration
%td= inches_to_feet_and_inches card.height_in_inches
