= stat_table_header :height
= stat_table_header :zone_coverage
= stat_table_header :man_coverage
= stat_table_header :catching
= stat_table_header :catch_in_traffic
= stat_table_header :speed
= stat_table_header :acceleration
= stat_table_header :jumping
= stat_table_header :play_recognition
= stat_table_header :awareness
