%td= card.throw_accuracy_short
%td= card.throw_accuracy_mid
%td= card.throw_accuracy_deep
%td= card.speed
%td= card.acceleration
%td= card.throw_on_the_run
%td= card.throw_power
%td= card.play_action
%td= card.carrying
%td= card.elusiveness
