%td.text-center{ class: rating_class(card.throw_accuracy_short) }= card.throw_accuracy_short
%td.text-center{ class: rating_class(card.throw_accuracy_mid) }= card.throw_accuracy_mid
%td.text-center{ class: rating_class(card.throw_accuracy_deep) }= card.throw_accuracy_deep
%td.text-center{ class: rating_class(card.throw_power) }= card.throw_power
%td.text-center{ class: rating_class(card.play_action) }= card.play_action
%td.text-center{ class: rating_class(card.strength) }= card.strength
%td.text-center{ class: rating_class(card.throw_on_the_run) }= card.throw_on_the_run
%td.text-center{ class: rating_class(card.speed) }= card.speed
%td.text-center{ class: rating_class(card.acceleration) }= card.acceleration
