%td.text-right= card.throw_accuracy_short
%td.text-right= card.throw_accuracy_mid
%td.text-right= card.throw_accuracy_deep
%td.text-right= card.throw_power
%td.text-right= card.play_action
%td.text-right= card.strength
%td.text-right= card.throw_on_the_run
%td.text-right= card.speed
%td.text-right= card.acceleration
