%td.text-right= card.run_block
%td.text-right= card.impact_blocking
%td.text-right= card.strength
%td.text-right= card.awareness
%td.text-right= card.catching
%td.text-right= card.catch_in_traffic
%td.text-right= card.spectacular_catch
%td.text-right= card.speed
%td.text-right= card.acceleration
