%td.text-right= inches_to_feet_and_inches card.height_in_inches
%td.text-right= card.speed
%td.text-right= card.acceleration
%td.text-right= card.catching
%td.text-right= card.catch_in_traffic
%td.text-right= card.spectacular_catch
%td.text-right= card.awareness
%td.text-right= card.release
%td.text-right= card.route_running
%td.text-right= card.jumping
