%td.text-center{ class: rating_class(card.pass_block) }= card.power_moves
%td.text-center{ class: rating_class(card.pass_block) }= card.finesse_moves
%td.text-center{ class: rating_class(card.pass_block) }= card.strength
%td.text-center{ class: rating_class(card.pass_block) }= card.speed
%td.text-center{ class: rating_class(card.pass_block) }= card.acceleration
%td.text-center{ class: rating_class(card.pass_block) }= card.agility
%td.text-center{ class: rating_class(card.pass_block) }= card.awareness
