%td= card.man_coverage
%td= inches_to_feet_and_inches card.height_in_inches
%td= card.jumping
%td= card.speed
%td= card.acceleration
%td= card.awareness
%td= card.play_recognition
%td= card.catching
%td= card.agility
%td= card.press
%td= card.zone_coverage
