%td.text-center{ class: rating_class(card.speed) }= card.speed
%td.text-center{ class: rating_class(card.acceleration) }= card.acceleration
%td.text-center{ class: rating_class(card.agility) }= card.agility
%td.text-center{ class: rating_class(card.zone_coverage) }= card.zone_coverage
%td.text-center{ class: rating_class(card.man_coverage) }= card.man_coverage
%td.text-center{ class: rating_class(card.awareness) }= card.awareness
%td.text-center{ class: rating_class(card.play_recognition) }= card.play_recognition
%td.text-center{ class: rating_class(card.catching) }= card.catching
%td.text-center{ class: rating_class(card.catch_in_traffic) }= card.catch_in_traffic
%td.text-center{ class: rating_class(card.tackle) }= card.tackle
