%td.text-center= card.tackle
%td.text-center= card.block_shedding
%td.text-center= card.pursuit
%td.text-center= card.strength
%td.text-center= card.speed
%td.text-center= card.acceleration
%td.text-center= card.awareness
%td.text-center= card.play_recognition
%td.text-center= card.zone_coverage
%td.text-center= card.man_coverage
