%td.text-right= inches_to_feet_and_inches card.height_in_inches
%td.text-right= card.jumping
%td.text-right= card.zone_coverage
%td.text-right= card.man_coverage
%td.text-right= card.speed
%td.text-right= card.acceleration
%td.text-right= card.awareness
%td.text-right= card.play_recognition
%td.text-right= card.catching
%td.text-right= card.agility
%td.text-right= card.press
