%td.text-center= inches_to_feet_and_inches card.height_in_inches
%td.text-center= card.jumping
%td.text-center= card.speed
%td.text-center= card.acceleration
%td.text-center= card.catching
%td.text-center= card.awareness
%td.text-center= card.play_recognition
%td.text-center= card.press
%td.text-center= card.zone_coverage
%td.text-center= card.man_coverage
