%td.text-center= card.speed
%td.text-center= card.acceleration
%td.text-center= card.power_moves
%td.text-center= card.finesse_moves
%td.text-center= card.agility
%td.text-center= card.strength
%td.text-center= card.tackle
%td.text-center= card.pursuit
%td.text-center= card.block_shedding
%td.text-center= card.awareness
