%td= card.speed
%td= card.acceleration
%td= card.tackle
%td= card.pursuit
%td= card.awareness
%td= card.zone_coverage
%td= card.man_coverage
%td= card.play_recognition
%td= card.catching
%td= card.jumping
