%td.text-right= card.speed
%td.text-right= card.acceleration
%td.text-right= card.tackle
%td.text-right= card.pursuit
%td.text-right= card.zone_coverage
%td.text-right= card.catching
%td.text-right= card.play_recognition
%td.text-right= card.awareness
%td.text-right= card.power_moves
%td.text-right= card.finesse_moves
