%div.container-fluid
  %h1= [(params[:style].titleize if params[:style]), (params[:position].upcase if params[:position]), 'Player Cards'].join(' ')

  %div.table-responsive
    %table.table.table-striped.table-borderless.table-hover
      %thead.thead-dark
        %tr
          %th{ scope: 'col' } Rank
          %th{ scope: 'col' } Name
          %th{ scope: 'col' } Overall
          = render ['player_cards', 'headers', params[:position], params[:style]].join('/') if params[:position] && params[:style]
          %th{ scope: 'col' } Score
      %tbody
        - @player_cards.each_with_index do |card, index|
          %tr
            %th.text-right{ scope: 'row' }= index +1
            %td= card.full_name
            %td.text-right= card.overall
            = render ['player_cards', 'cells', params[:position], params[:style]].join('/'), card: card if params[:position] && params[:style]

            - if params[:style]
              %td.text-right.font-weight-bold= number_with_precision(card.score, precision: 1)
