= stat_table_header :run_block
= stat_table_header :impact_blocking
= stat_table_header :strength
= stat_table_header :carrying
= stat_table_header :trucking
= stat_table_header :stiff_arm
= stat_table_header :speed
= stat_table_header :acceleration
= stat_table_header :awareness
= stat_table_header :catching
