!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MUTRANK REBORN
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{ href: "https://fonts.googleapis.com/css?family=Fira+Sans|Titillium+Web", rel: "stylesheet" }

  %body
    .container-fluid
      %header#header
        %h1= link_to 'MUTRANK REBORN', root_path

    %section#main-content= yield

    .container-fluid
      %footer#footer I made this - jrmehle

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
